[free mem]
check_expr1 = memstat.Free.Value < 2000000000
check_expr2 = memstat.Free.Value >= 1500000000

[active]
crit_check_expr1 = memstat.Active.Value >= 6600000000
warn_check_expr2 = memstat.Active.Value < 6500000000

[arithmetic in checks]
check1_expr = cpustat.cpu.User.Value < 14828637
check2_expr = cpustat.cpu.User.Value == 14828637
check3_expr = cpustat.cpu.User.Value < 100 * 200000

[missing metric]
# example of a comment line
# these metrics wont be found
check1 = metric.value < 16384
check2 = metric.value == 16384

[test Rates]
check Rate expr = cpustat.cpu.System.Rate > 700
check Rate expr2 = cpustat.cpu.Total.Rate > 900

[test name replace]
check one = cpustat.cpu.User.Value / cpustat.cpu.Total.Value * 100 > 50
